:root {
  --primary-color: rgba(24, 39, 51, 0.6);
  --overlay-color: rgba(108, 207, 117, 0.99);
  --moon-bg: rgba(14, 49, 141, 0.7);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVI */

@media screen and (max-width: 800px) {
  .big_nav {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .menu_wrap {
    display: none;
  }
}
